asgiref==3.4.1
awscli==1.27.33
botocore
boto3
cement==2.8.2
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.3
Django==4.0.1
python-dotenv
docutils==0.16
future==0.16.0
gunicorn==20.1.0
idna==3.4
jmespath==0.10.0
packaging==23.1
pathspec==0.9.0
Pillow==9.2.0
psycopg2-binary==2.9.6
pyasn1==0.4.8
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.6.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
tzdata==2021.5
urllib3==1.26.13
wcwidth==0.1.9
whitenoise==6.2.0