{% extends 'base.html'%} {% load static %} {% block content %}

<form class='sign-log-form' action="" method="POST">
    {% csrf_token %}
    <div class="container-signup">
        <h1>Product</h1>
        {% for field in form %}

        <label for="product"><b>{{field.label}}</b></label> {{field}}
        <input type="text" name="product" required> {% endfor %}

        <button type="button" class="cancelbtn">
            <a href="{% url 'products' %}">Cancel</a></button> {% if header == "delete" %}
        <button type="submit" class="signupbtn">  Delete Product</button> {% else %}
        <button type="submit" class="signupbtn">Add Product</button> {% endif %}
    </div>
</form>


{% endblock%}