{% extends 'base.html'%} {% load static %} {% block content %}

<main>
    {% include 'side-nav.html' %}

    <div class="flex-main">
        <h1 class='title'> Order Number:
            <p>{{order.id}}</h1>
        {% for item in orderitems %}
        <div class="flex-vertical">
            <div class="top-sect">
                <div>
                    <h3>Product Name</h2>
                        <p>{{item.product.name}}</p>
                </div>

                <div class="no-show-mobile">
                    <h3>Product Price</h2>
                        <p>{{item.product.price}}</p>
                </div>

                <div>
                    <h3>Category</h3>
                    <p>
                        {{item.product.category.name}}
                    </p>
                </div>
            </div>

            <hr>
            <div class="bottom-sect">
                <img class="no-show-mobile" src="imgs/iconmonstr-credit-card-1.svg" alt="">
                <div class="no-show-mobile">
                    <h3>Total</h3>
                    <p>{{item.get_total}}</p>
                </div>

                <div class="mobile-text">
                    <h3>Item</h3>
                    <p>{{item.quantity}}</p>
                </div>
            </div>

        </div>
        {%endfor%}

        <!-- <div class="flex-vertical">
            <div class="top-sect">
                <div>
                    <h3>Product Name</h2>
                        <p>Skirt blue blouse</p>
                </div>

                <div class="no-show-mobile"> -->
        <!-- <h3>Total</h2>
                            <p>1235</p> -->
        <!-- </div>

                <div>
                    <h3>Product ID</h3>
                    <p>012354788-44-744
                    </p>
                </div>

            </div>
            <hr>
            <div class="bottom-sect">
                <img class="no-show-mobile" src="imgs/iconmonstr-credit-card-1.svg" alt="">
                <div class="no-show-mobile">
                    <h3>Total</h3>
                    <p>567</p>
                </div>

                <div class="mobile-text">
                    <h3>Item</h3>
                    <p>14</p>
                </div>
            </div>
        </div> -->

        <!-- <div class="flex-vertical">
            <div class="top-sect">
                <div>
                    <h3>Product Name</h2>
                        <p>Skirt blue blouse</p>
                </div>

                <div class="no-show-mobile">
                    <h3>Total</h2>
                            <p>1235</p>
                </div>

                <div>
                    <h3>Product ID</h3>
                    <p>012354788-44-744
                    </p>
                </div>

            </div>
            <hr>
            <div class="bottom-sect">
                <img class="no-show-mobile" src="imgs/iconmonstr-credit-card-1.svg" alt="">
                <div class="no-show-mobile">
                    <h3>Total</h3>
                    <p>567</p>
                </div>

                <div class="mobile-text">
                    <h3>Item</h3>
                    <p>14</p>
                </div>
            </div>
        </div> -->


        <div class="customer">
            <div class="customer-detail">
                <div>
                    <h3>Customer Shipping Details</h2>
                </div>
            </div>
            <hr>

            <div class="details">
                <div class="customer-text">
                    <div class="item5">
                        <img src="imgs/iconmonstr-generation-12.svg" alt="">
                        <p><a href="{% url 'customer' order.customer.id %}">{{order.customer.first_name}},
                                {{order.customer.last_name}}</a></p>
                    </div>
                    <div class="item6">
                        <img src="imgs/iconmonstr-email-1.svg" alt="">
                        <p>{{order.customer.email}}</p>
                    </div>

                    <div class="item7">
                        <img src="imgs/iconmonstr-smartphone-9.svg" alt="">
                        <p>{{order.customer.phone}}</p>
                    </div>

                    <div class="item8">
                        <img src="imgs/iconmonstr-credit-card-1.svg" alt="">
                        <P>Card</P>
                    </div>

                </div>

                <div class="customer-text2">
                    <div class="item1">
                        <h3>Country</h3>
                        <p>{{order.country}}</p>
                    </div>
                    <div class="item2">
                        <h3>State</h3>
                        <p>{{order.state}}</p>
                    </div>
                    <div class="item3">
                        <h3>Address</h3>
                        <P>{{order.street}}</P>
                    </div>
                    <div class="item4">
                        <h3>Card number</h3>
                        <p>{{order.card}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}