{% extends 'base.html'%} {% block content %}
<main>
    {% include 'side-nav.html' %}

    <section class="main-grids">

        <div class="table">
            <table class="table1">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity Sold</th>
                    <th>Quantity In Stock</th>
                    <th>add</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                {% for product in products %}
                <tr>
                    <td><a href="{% url 'product' product.id%}">{{product.name}}</a></td>
                    <td>{{product.price}}</td>
                    <td>{{product.get_product_sold}}</td>
                    <td>{{product.get_product_instock}}</td>
                    <td>
                        <a href="{% url 'add_product' %}">+</a>
                    </td>
                    <td>
                        <a href="{% url 'update_product' product.id %}">--</a>
                    </td>
                    <td>
                        <a href="{% url 'delete_product' product.id %}">-</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    {% endblock %}
</main>