
/* -----------------share tyle with sign up and log in .scss------------------- */
.container-signup {
    // background-color: rgb(245, 238, 220);;
    padding: 1rem 3rem;
    width: 40%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    border: none;
    border-radius: 1rem;
    background: rgba(255,255,255, 0.7);
    backdrop-filter: blur(2rem);
    
  }